# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.venv/
dist/
build/

# Environment
.env

# Data
data/

# Logs
logs/
notebooks/logs/

# IDE
.idea/
.vscode/

# Jupyter checkpoints
.ipynb_checkpoints/

# DS Store
.DS_Store